<div >
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" >{{pageHeader}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="10" comments="Chart" colour="green" type="bar-chart-o"></stats>
        <stats number="18" comments="Devices" colour="yellow" type="gears" goto="dashboard.devices"></stats>
        <stats number="1" comments="Direct Setup" colour="red" type="tasks" goto="dashboard.directSetup"></stats>
        <stats number="6"  comments="Input devices" colour="primary" type="cloud-download" goto="dashboard.input"></stats>
    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Command Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
