/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}
.comment-list.styled{margin-bottom: 30px;}

.comment-list.styled .comment-body {
    border-left: 0 none;
    padding: 0;
    min-height: 123px;
    margin-bottom: 0;
}
.comment-list.styled .comment-text{
    padding: 25px 27px 26px 165px;
}
.comment-list.styled .comment-arrow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 132px;
    background: #f8f3f0;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.comment-list.styled .comment-arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    right: -8px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 8px solid #F8F3F0;
    border-bottom: 6px solid transparent;
}
.comment-list.styled .comment-avatar {
    top: 16px;
    left: 21px;
}
.comment-list.styled .comment-author {
    text-align: left;
    margin-bottom: 8px;
}
.comment-list.styled .link-author {
    font-size: 26px;
    font-weight: 600;
    float: none;
    color: #5c5146;
}
.comment-list.styled .link-author:hover {color: #8D8569;}

/* Responsive */
@media (max-width:479px){
    .comment-list.styled .comment-arrow {width: 115px;}
	.comment-list.styled .comment-avatar {left: 13px;}
	.comment-list.styled .comment-text {padding: 25px 16px 26px 134px;}
}

/*-----------------------------------*/
/* Sidebar widgets */
/*-----------------------------------*/

.widget-container{margin-bottom: 30px;}
.widget-container .widget-title{
    padding: 19px 20px 19px 33px;
	font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
	margin-bottom:0;
    background: #7b6d5e;
    -webkit-box-shadow: inset 0 -2px 2px rgba(57,57,57,.36);
    -moz-box-shadow: inset 0 -2px 2px rgba(57,57,57,.36);
    box-shadow: inset 0 -2px 2px rgba(57,57,57,.36);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

/* Widget Categories */

.widget_categories .inner{
	padding: 22px 0;
}
.widget_categories li{position: relative;}

.widget_categories li a{
    display: block;
    padding: 12px 32px;
    font-size: 14px;
    line-height: 20px;
    color: #7b6d5e;
	position: relative;
    border-left: 3px solid transparent;
}
.widget_categories li:hover a, .widget_categories li.current-menu-item a{
    border-left: 3px solid #40a268;
    background: #f6f0ec;
}

.widget_categories .ico-cat{
	float: right;
    margin: 0;
    width:20px;
	height:20px;
	background-image:url(images/icons/categories_icons.png);
}

.widget_categories .ico-cat.ico-cat1{background-position: 0 0;}
.widget_categories .ico-cat.ico-cat2{background-position: -20px 0;}
.widget_categories .ico-cat.ico-cat3{background-position: -40px 0;}
.widget_categories .ico-cat.ico-cat4{background-position: -60px 0;}

.widget_categories li:hover a .ico-cat1, .widget_categories li.current-menu-item .ico-cat1{background-position: 0 -20px;}
.widget_categories li:hover a .ico-cat2, .widget_categories li.current-menu-item .ico-cat2{background-position: -20px -20px;}
.widget_categories li:hover a .ico-cat3, .widget_categories li.current-menu-item .ico-cat3{background-position: -40px -20px;}
.widget_categories li:hover a .ico-cat4, .widget_categories li.current-menu-item .ico-cat4{background-position: -60px -20px;}

/* Widget Tags */

.widget_tag_cloud .inner {padding: 34px 32px 36px;}

.tagcloud a{
	display:inline-block;
	font-size:12px;
	white-space:nowrap;
	background-image:url(images/tag.png);
	background-repeat:no-repeat;
	background-position:right -30px;
	height: 28px;
	line-height: 26px;
	padding-right:16px;
	color:#3e362b;
	margin:4px;
}
.tagcloud a:hover{color:#8D8569;}

.tagcloud a span{
	display:block;
	background-image:url(images/tag.png);
	background-repeat:no-repeat;
	background-position:left 0;
	padding-left:26px;
    height: 28px;
    line-height: 26px;
}

.tagcloud.pull-right{width: 57%; margin-left: 20px;}
.tagcloud.pull-left{width: 57%; margin-right: 20px;}

.tabs_framed.styled .tagcloud a {margin: 7px 4px 9px;}

/* Widget Calendar */

.widget_calendar .inner{padding: 0 15px 15px;}
.ie8 #date_departure {display: none !important;}

.widget_calendar.styled{background: none;}
.widget_calendar.styled .inner{
    padding: 0 14px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B9A18A;
    border-top: 0 none;
}
.content, .sidebar{padding: 0px 0;}
#middle{position: relative; z-index: 0;}
#middle.sidebar_left > .container > .row > .col-sm-8{float:right;}

.boxed {
    background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
	margin-bottom:30px;
	position: relative;
	z-index: 0;
}
.line-left{border-left: 3px solid #ebc85e;}
.line-top{border-top: 3px solid #ebc85e;}
.borodIconDevice {
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
      width: 89px;
      height: 89px;
      overflow: hidden;
      border: 1px solid #BAB8B3;
       background-color: white;
    text-align: center;
  padding-top: 5px;
    }
.tabNameDevice {
    border-top: 1px solid #c0b8a9;
  border-left: 1px solid #c7bfb2;
  border-right: 1px solid #c7bfb2;
  webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 8px -1px #8A8165;
  -moz-box-shadow: 0 2px 8px -1px #8A8165;
  /* box-shadow: 0 2px 8px -1px #8A8165; */
  background: rgb(250,250,249);
  background: linear-gradient(to bottom, rgba(250,250,249,1) 0%,rgba(229,225,218,1) 90%,rgba(154,142,130,1) 100%);
  padding: 6px 10px;

}