.setupwizard {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.setupwizard:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 99%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.setupwizard > li {
    position: relative;
    margin-bottom: 20px;
}

.setupwizard > li:before,
.setupwizard > li:after {
    content: " ";
    display: table;
}

.setupwizard > li:after {
    clear: both;
}

.setupwizard > li:before,
.setupwizard > li:after {
    content: " ";
    display: table;
}

.setupwizard > li:after {
    clear: both;
}

.setupwizard > li > .setupwizard-panel {
    float: left;
    position: relative;
    width: calc(99% - 50px);
    width: -moz-calc(99% - 50px);
    width: -webkit-calc(99% - 50px);
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.setupwizard > li > .setupwizard-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.setupwizard > li > .setupwizard-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.setupwizard > li > .setupwizard-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 99%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.setupwizard > li.setupwizard-inverted > .setupwizard-panel {
    float: left;
}

.setupwizard > li.setupwizard-inverted > .setupwizard-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.setupwizard > li.setupwizard-inverted > .setupwizard-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.setupwizard-badge.primary {
    background-color: #2e6da4 !important;
}

.setupwizard-badge.success {
    background-color: #3f903f !important;
}

.setupwizard-badge.warning {
    background-color: #f0ad4e !important;
}

.setupwizard-badge.danger {
    background-color: #d9534f !important;
}

.setupwizard-badge.info {
    background-color: #5bc0de !important;
}

.setupwizard-title {
    margin-top: 0;
    color: inherit;
}

.setupwizard-body > p,
.setupwizard-body > ul {
    margin-bottom: 0;
}

.setupwizard-body > p + p {
    margin-top: 5px;
}
.setupwizard-btn-rigth
{
    float: right;
}
@media(max-width:767px) {
    ul.setupwizard:before {
        left: 0px;
    }

    ul.setupwizard > li > .setupwizard-panel {
        width: calc(100% - 45px);
        width: -moz-calc(100% - 45px);
        width: -webkit-calc(100% - 45px);
    }

    ul.setupwizard > li > .setupwizard-badge {
        top: 16px;
        left: -25px;
        margin-left: 0;
    }

    ul.setupwizard > li > .setupwizard-panel {
        float: right;
    }

    ul.setupwizard > li > .setupwizard-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.setupwizard > li > .setupwizard-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}