<div class="container-fluid" ng-controller="inputCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Input</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <p><strong>ENDPOINT:</strong> {{endpoint}}

    <div class="row" >

        <table ng-table="tableInputParams" show-filter="true" class="table">
            <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group"  ng-class="{'bg-primary':group.$edit,'bg-danger':group.$remove}">
                <td colspan="{{$columns.length-2}}" filter="{ 'name': 'text' }">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">

                        <div  ng-if="!group.$edit">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{group.value}}</strong>
                        </div>
                        <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.value" /></div>
                    </a>
                </td>

                <td colspan="1">
                     {{group.data[0].showTime}}
                </td>
                <td colspan="1">
                    <a ng-if="!group.$edit && !group.$remove " href="" class="btn btn-primary btn-xs " ng-click="group.$edit = true"><i class="fa fa-wrench"></i> Edit</a>
                    <a ng-if="group.$edit" href="" class="btn btn-success btn-xs" ng-click=""><i class="fa fa-floppy-o"></i> Save</a>

                    <a ng-if="!group.$edit && !group.$remove" href="" class="btn btn-danger btn-xs" ng-click="group.$remove = true"><i class="fa fa-trash-o"></i> Remove</a>
                    <a ng-if="group.$remove" href="" class="btn btn-danger btn-xs " ng-click=""><i class="fa fa-check"></i> Yes</a>

                    <a ng-if="group.$edit||group.$remove" href="" class="btn btn-warning btn-xs " ng-click="group.$edit = false;group.$remove = false"><i class="fa fa-times"></i> Cancel</a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="device in group.data"  ng-class="{'bg-primary':device.$edit,'bg-danger':device.$remove||group.$remove}">
                <td sortable="'nodeid'" data-title="'Devices name'"  filter="{ 'nodeid': 'text' }">
                    {{device.id}}

                </td>
                <td sortable="'name'" data-title="'Name'" filter="{ 'name': 'text' }">
                    <div ng-if="!device.$edit">{{device.name}}</div>
                    <div ng-if="device.$edit"><input class="form-control" type="text" ng-model="device.name" /></div>
                </td>
                <td sortable="'description'" data-title="'Description'" filter="{ 'description': 'text' }">
                    <div ng-if="!device.$edit">{{device.description}}</div>
                    <div ng-if="device.$edit"><input class="form-control" type="text" ng-model="device.description" /></div>
                </td >

                <td data-title="'Value'" >
                    {{device.value}}
                </td>


                <td data-title="'Actions'" >
                    <a ng-if="!device.$edit && !device.$remove " href="" class="btn btn-primary btn-xs " ng-click="device.$edit = true"><i class="fa fa-wrench"></i> Edit</a>
                    <a ng-if="device.$edit" href="" class="btn btn-success btn-xs" ng-click=""><i class="fa fa-floppy-o"></i> Save</a>


                    <a ng-if="!device.$edit && !device.$remove" href="" class="btn btn-danger btn-xs" ng-click="device.$remove = true"><i class="fa fa-trash-o"></i> Remove</a>
                    <a ng-if="device.$remove" href="" class="btn btn-danger btn-xs " ng-click=""><i class="fa fa-check"></i> Yes</a>

                    <a ng-if="device.$edit||device.$remove" href="" class="btn btn-warning btn-xs " ng-click="device.$edit = false;device.$remove = false"><i class="fa fa-times"></i> Cancel</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
</div>