<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Direct setup</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <setupwizard></setupwizard>
    </div>
    <!-- /.row -->
</div>