<div class="container-fluid" ng-controller="devicesCtrl"
     style="padding-right:0px;padding-left: 0px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Devices</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div ng-init="xList=[
      {name:'a', number:'1', date:'1360413309421', class:'purple'}
      ,{name:'b', number:'5', date:'1360213309421', class:'orange'}
      ,{name:'c', number:'10', date:'1360113309421', class:'blue'}

      ] ">
        </div>
    </div>
    <div class="row">
       
        <div ng-repeat="device in devices" class="col-md-3">
            <div class="widget-container widget-trade boxed">
                <div class="widget-title" style="background-color:#54BC75;padding: 5px 5px 5px 5px;">
                    <canvas id="line" class="chart chart-line chart-xl" data="line.data" option="lineOption" labels="line.labels" colours="line.colours"
                            click="line.onClick" series="line.series"></canvas>
                </div>
                <div class="inner">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4 comment-avatar">

                                    <div class="borodIconDevice"><i class="fa fa-android fa-5x "></i></div>

                                </div>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-6  text-left">
                                            <div style="float: left;position: relative;top: 0px;left:0px;">
                                                <h4>{{device.name}}</h4>
                                                <h5>{{device.ip}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h1 style="margin-top:0px;margin-top:0px">200</h1><h3 style="margin-top: -20px;margin-right: -5px;">w</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6> {{device.description}} </h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="device.input['p1']" class="clear"></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4 comment-avatar">
                                    <div class="borodIconDevice " style="background-color:#f0ad4e; color:white"><i class="fa fa-mobile-phone fa-5x "></i></div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-6 text-left rowCheckbox switch">
                                            <div class=" input-group custom-search-form">
                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label ng-class="{'checked':device.input['p1'].value=='1'}" ng-click="device.input['p1'].value = (device.input['p1'].value=='1')?'0':'1'">

                                                        </label>
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="input-group custom-search-form">
                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label class=" fa fa-power-off">
                                                        </label>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h1 style="margin-top:0px;margin-top:0px">{{device.input['c1'].value*220}}</h1><h3 style="margin-top: -20px;margin-right: -5px;">w</h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr ng-if="device.input['p1']" />
                            <div ng-if="device.input['p2']" class="row" >
                                <div class="col-xs-4 comment-avatar">
                                    <div class="borodIconDevice " style="background-color:#f0ad4e; color:white"><i class="fa fa-mobile-phone fa-5x "></i></div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-6 text-left rowCheckbox switch">
                                            <div class=" input-group custom-search-form">
                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label ng-class="{'checked':device.input['p2'].value=='1'}" ng-click="device.input['p2'].value = (device.input['p2'].value=='1')?'0':'1'">

                                                        </label>
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="input-group custom-search-form">

                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label for="signup1" class=" fa fa-power-off">

                                                        </label>
                                                    </div>
                                                </span>

                                            </div>

                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h1 style="margin-top:0px;margin-top:0px">{{device.input['c2'].value*220}}</h1><h3 style="margin-top: -20px;margin-right: -5px;">w</h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr ng-if="device.input['p2']" />
                            <div ng-if="device.input['p3']" class="row">
                                <div class="col-xs-4 comment-avatar">
                                    <div class="borodIconDevice " style="background-color:#f0ad4e; color:white"><i class="fa fa-mobile-phone fa-5x "></i></div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-6 text-left rowCheckbox switch">
                                            <div class=" input-group custom-search-form">
                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label ng-class="{'checked':device.input['p3'].value=='1'}" ng-click="device.input['p3'].value = (device.input['p3'].value=='1')?'0':'1'">

                                                        </label>
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="input-group custom-search-form">

                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label for="signup1" class=" fa fa-power-off">

                                                        </label>
                                                    </div>
                                                </span>

                                            </div>

                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h1 style="margin-top:0px;margin-top:0px">{{device.input['c3'].value*220}}</h1><h3 style="margin-top: -20px;margin-right: -5px;">w</h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr ng-if="device.input['p3']"  />
                            <div ng-if="device.input['p4']" class="row">
                                <div class="col-xs-4 comment-avatar">
                                    <div class="borodIconDevice " style="background-color:#f0ad4e; color:white"><i class="fa fa-mobile-phone fa-5x "></i></div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-6 text-left rowCheckbox switch">
                                            <div class=" input-group custom-search-form">
                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label ng-class="{'checked':device.input['p4'].value=='1'}" ng-click="device.input['p4'].value = (device.input['p4'].value=='1')? '0':'1'">

                                                        </label>
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="input-group custom-search-form">

                                                <span class="input-group-btn" style="float: left;margin-top: 5px;">
                                                    <div class="custom-checkbox">
                                                        <label for="signup1" class=" fa fa-power-off">

                                                        </label>
                                                    </div>
                                                </span>

                                            </div>

                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h1 style="margin-top:0px;margin-top:0px">{{device.input['c4'].value*220}}</h1><h3 style="margin-top: -20px;margin-right: -5px;">w</h3>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <hr ng-if="device.input['p4']" />
                            <button type="button" class="'btn-info' btn btn-sm btn-info setupwizard-btn-rigth" style="  left: 0px;  position: relative; float:left;" >

                                Refresh

                                <i class=" fa fa-check-circle"></i>
                            </button>



                            <button type="button" ng-class="{'btn-info':device.SendPower=='N','btn-warning':device.SendPower=='D','btn-danger':device.SendPower=='F','btn-success':device.SendPower=='E'}" class="'btn-info' btn btn-sm btn-info setupwizard-btn-rigth" style="  left: 10px;  position: relative;" ng-click="sendPower(device)">

                                Send

                                <i ng-if="device.SendPower=='E'" class=" fa fa-check-circle"></i>
                                <i ng-if="device.SendPower=='N'" class="fa fa fa-save"></i>
                                <i ng-if="device.SendPower=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                                <i ng-if="device.SendPower=='F'" class="fa fa-exclamation-triangle"></i>
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
   
