<div class="panel-body">
    <ul class="setupwizard">
        <li>
            <div class="setupwizard-badge info">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="setupwizard-panel" style="padding:0px; border: 0px;border-radius: 8px;">

                <!-- Video Player -->
                <div class="video-player">

                    <video id="video2" controls preload="none" class="video-js vjs-styled-skin" style="width:100%;  margin-bottom:0px;">
                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                        <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                    </video>
                    <script>
                        videojs("video2", {
                            "height": "auto",
                            "width": "auto"
                        }).ready(function () {
                            var myPlayer = this; // Store the video object
                            var aspectRatio = 19 / 39; // Make up an aspect ratio
                            function resizeVideoJS() {
                                // Get the parent element's actual width
                                var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                                // Set width to fill parent element, Set height
                                myPlayer.width(width).height(width * aspectRatio);
                            }

                            resizeVideoJS(); // Initialize the function
                            window.onresize = resizeVideoJS; // Call the function on resize
                        });
                    </script>
                </div>
                <!--/ Video Player -->
            </div>

        </li>
        <li>
            <div class="setupwizard-badge">
                <i class="fa fa-check"></i>
            </div>
            <div class="setupwizard-panel">
                <div class="setupwizard-heading">
                    <h4 class="setupwizard-title">First step</h4>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> Connect wifi to deveice.</small>
                    </p>
                </div>
                <div class="setupwizard-body">
                    <p>1 Open wifi select a device.</p>
                    <p>2 Click next.</p>
                </div>
                <hr>
                <button type="button" class="btn btn-sm btn-info setupwizard-btn-rigth">Next</button>
            </div>
        </li>
        <li>
            <div class="setupwizard-badge success">
                <i class="fa fa-sign-in"></i>
            </div>
            <div class="setupwizard-panel">
                <div class="setupwizard-heading">
                    <h4 class="setupwizard-title"><i class="fa fa-wifi"></i> Second</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Set wifi for your deveice.</small>
                </div>
                <div class="setupwizard-body">
                    <div class="form-group">
                        <label>Device IP:</label>
                        <div class="input-group custom-search-form">
                            <input type="text" ng-model="deviceInfo.IP" class="form-control">
                            <span class="input-group-btn">
                                <button ng-class="{'btn-info':status.IPConnected=='N','btn-warning':status.IPConnected=='D','btn-danger':status.IPConnected=='F','btn-success':status.IPConnected=='E'}"
                                        type="button" class="btn btn-sm" style="height: 34px; " ng-click="CheckingDevice()">
                                    Check
                                    <i ng-if="status.IPConnected=='E'" class="fa fa-check-circle"></i>
                                    <i ng-if="status.IPConnected=='N'" class="fa fa fa-search"></i>
                                    <i ng-if="status.IPConnected=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                                    <i ng-if="status.IPConnected=='F'" class="fa fa-exclamation-triangle"></i>
                                </button>

                            </span>
                        </div>
                        <label>{{ResultChecking}}</label>
                        <label>Wifi configuration:</label>
                        <div class="input-group custom-search-form">
                            <input type="text" ng-model="deviceInfo.APName" class="form-control">
                            <input type="password" ng-model="deviceInfo.APpassword" class="form-control">
                            <span class="input-group-btn">
                                <button ng-class="{'btn-info':status.WifiAPconnected=='N','btn-warning':status.WifiAPconnected=='D','btn-danger':status.WifiAPconnected=='F','btn-success':status.WifiAPconnected=='E'  }" 
                                        type="button" class="btn btn-sm" style="height: 68px; " ng-click="ConnectWifi()">
                                    Connect
                                    <i ng-if="status.WifiAPconnected=='E'" class="fa fa-fa-check-circle"></i>
                                    <i ng-if="status.WifiAPconnected=='N'" class="fa fa fa-sign-in"></i>
                                    <i ng-if="status.WifiAPconnected=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                                    <i ng-if="status.WifiAPconnected=='F'" class="fa fa-exclamation-triangle"></i>
                                </button>

                            </span>
                            
                        </div>
                        <div class="btn-group"  ng-click="changeAP()">
                            <label class="btn btn-success" ng-model="apWifi" btn-radio="'Home'" uncheckable>Home</label>
                            <label class="btn btn-success" ng-model="apWifi" btn-radio="'Nimit'" uncheckable>Nimit</label>
                            <label class="btn btn-success" ng-model="apWifi" btn-radio="'Eagle'" uncheckable>Eagle</label>
                        </div>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-sm btn-info ">Back</button>
                    <button type="button" class="btn btn-sm btn-info setupwizard-btn-rigth">Next</button>
                </div>
            </div>
        </li>
        <li>
            <div class="setupwizard-badge danger">
                <i class="fa fa-save"></i>
            </div>
            <div class="setupwizard-panel">
                <div class="setupwizard-heading">
                    <button type="button" class="btn btn-sm   setupwizard-btn-rigth" ng-class="{'btn-info':status.GetInfo=='N','btn-warning':status.GetInfo=='D','btn-danger':status.GetInfo=='F','btn-success':status.GetInfo=='E'  }" style="top: -10px;  left: 10px;  position: relative;" ng-click="GetInfo()">
                        <i ng-if="status.GetInfo=='E'" class="fa fa-check-circle"></i>
                        <i ng-if="status.GetInfo=='N'" class="fa fa-info-circle"></i>
                        <i ng-if="status.GetInfo=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                        <i ng-if="status.GetInfo=='F'" class="fa fa-exclamation-triangle"></i>
                        Get Information
                    </button>
                    <h4 class="setupwizard-title">Configulation information device</h4>
                    {{deviceInformation}}
                </div>
                <div class="setupwizard-body">
                    <label>Set name device :</label>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> Warning ...........</small>
                        <div class="input-group custom-search-form" style="padding-right:-30px;">
                            <input type="text" ng-model="deviceInfo.plugName" class="form-control">
                            <input type="password" ng-model="deviceInfo.plugPassword" class="form-control">
                            <span class="input-group-btn rowCheckbox ">
                                <button ng-class="{'btn-info':status.SetPlugName=='N','btn-warning':status.SetPlugName=='D','btn-danger':status.SetPlugName=='F','btn-success':status.SetPlugName=='E'  }"
                                        type="button" class="btn btn-sm btn-default " style="height: 68px; " ng-click="SetPlugName()">

                                    Set
                                    <i ng-if="status.SetPlugName=='E'" class="fa fa-fa-wrench"></i>
                                    <i ng-if="status.SetPlugName=='N'" class="fa fa-info-circle"></i>
                                    <i ng-if="status.SetPlugName=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                                    <i ng-if="status.SetPlugName=='F'" class="fa fa-exclamation-triangle"></i>
                                </button>
                               
                            </span>
                        </div>

                        <label>Set server :</label>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> Default port 80 ex 192.168.0.5:8080</small>
                        <div class="input-group custom-search-form">
                            <input type=" text" ng-model="deviceInfo.URL" class="form-control">
                            <span class="input-group-btn switch-large" style="  left: -20px;z-index: 2;">
                                <button type="button" class="btn btn-sm btn-info " ng-click="SetServer()" ng-class="{'btn-info':status.SetServer=='N','btn-warning':status.SetServer=='D','btn-danger':status.SetServer=='F','btn-success':status.SetServer=='E'  }"
                                        style="height: 34px;float: right;  z-index: 0;left: 20px;width: 80px;  text-align: right; border-radius: 4px;">
                                    Save
                                    <i ng-if="status.SetServer=='E'" class="fa fa-check-circle"></i>
                                    <i ng-if="status.SetServer=='N'" class="fa fa fa-save"></i>
                                    <i ng-if="status.SetServer=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                                    <i ng-if="status.SetServer=='F'" class="fa fa-exclamation-triangle"></i>

                                </button>

                                <div class="custom-checkbox" style="top: -1px;left: -25px;">
                                    <input name="signup3" type="checkbox" checked="" id="signup3" value="signup3" hidefocus="true" style="outline: none;">
                                    <label for="signup3" ng-class="{'checked':deviceInfo.callServer}" ng-click="CallServerClick()"></label>
                                </div>
                            </span>
                        </div>
                </div>
            </div>
        </li>
        <li>
            <div class="setupwizard-badge warning"><i class="fa fa-gears"></i></div>
            <div class="setupwizard-panel">
                <button type="button" ng-class="{'btn-info':status.SendRefreshStatus=='N','btn-warning':status.SendRefreshStatus=='D','btn-danger':status.SendRefreshStatus=='F','btn-success':status.SendRefreshStatus=='E'  }" class="btn btn-sm btn-info setupwizard-btn-rigth" style="top: -10px;  left: 10px;  position: relative;" ng-click="RefeshStatusPower()">

                    Refesh

                    <i ng-if="status.SendRefreshStatus=='E'" class="fa fa-check-circle"></i>
                    <i ng-if="status.SendRefreshStatus=='N'" class="fa fa fa-save"></i>
                    <i ng-if="status.SendRefreshStatus=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                    <i ng-if="status.SendRefreshStatus=='F'" class="fa fa-exclamation-triangle"></i>

                </button>
                <div class="setupwizard-heading ">
                    <h4 class="setupwizard-title">Test switch</h4>

                </div>
                <label>{{ResultRefresh}}</label>
                <div class="setupwizard-body">
                    <div class="rowCheckbox switch">
                        <div class="input-group custom-search-form">
                            <label>Plug 1</label>
                            <span class="input-group-btn" style="float: right;">
                                <div class="custom-checkbox">
                                    <label for="signup1" ng-class="{'checked':deviceInfo.power1 }" ng-click="deviceInfo.power1 = !deviceInfo.power1"></label>
                                </div>
                            </span>
                        </div>
                        <div class="input-group custom-search-form">
                            <label>Plug 2</label>
                            <span class="input-group-btn" style="float: right;">
                                <div class="custom-checkbox">
                                    <label for="signup1" ng-class="{'checked':deviceInfo.power2 }" ng-click="deviceInfo.power2 = !deviceInfo.power2">
                                    </label>
                                </div>
                            </span>
                        </div>
                        <div class="input-group custom-search-form">
                            <label>Plug 3</label>
                            <span class="input-group-btn" style="float: right;">
                                <div class="custom-checkbox">
                                    <label for="signup1" ng-class="{'checked':deviceInfo.power3 }" ng-click="deviceInfo.power3 = !deviceInfo.power3">
                                    </label>
                                </div>
                            </span>
                        </div>
                        <div class="input-group custom-search-form">
                            <label>Plug 4</label>
                            <span class="input-group-btn" style="float: right;">
                                <div class="custom-checkbox">
                                    <label for="signup1" ng-class="{'checked':deviceInfo.power4 }" ng-click="deviceInfo.power4 = !deviceInfo.power4">
                                    </label>
                                </div>
                            </span>
                        </div>

                    </div>
                    <div class="rowCheckbox">
                        <div class=" input-group custom-search-form">
                            <span class="input-group-btn" style="float: right;">
                                <div class="custom-checkbox" style="float: right;">
                                    <label for="signup1" ng-class="{'checked':deviceInfo.led13 }" ng-click="deviceInfo.led13 = !deviceInfo.led13">
                                    </label>
                                </div>
                                <button type="button" class="btn btn-sm setupwizard-btn-left" ng-click="SendLed13()" ng-class="{'btn-info':status.SendLed13=='N','btn-warning':status.SendLed13=='D','btn-danger':status.SendLed13=='F','btn-success':status.SendLed13=='E'  }" style="top: -5px;  left: 10px;  position: relative;">

                                    Send

                                    <i ng-if="status.SendLed13=='E'" class="fa fa-check-circle"></i>
                                    <i ng-if="status.SendLed13=='N'" class="fa fa fa-save"></i>
                                    <i ng-if="status.SendLed13=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                                    <i ng-if="status.SendLed13=='F'" class="fa fa-exclamation-triangle"></i>
                                </button>
                            </span>
                            <label>Led 13</label>
                        </div>
                    </div>
                    <hr />
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>

                    <button type="button" ng-class="{'btn-info':status.SendPower=='N','btn-warning':status.SendPower=='D','btn-danger':status.SendPower=='F','btn-success':status.SendPower=='E'}" class="btn btn-sm btn-info setupwizard-btn-rigth" style="  left: 10px;  position: relative;" ng-click="sendPower()">

                        Send

                        <i ng-if="status.SendPower=='E'" class=" fa fa-check-circle"></i>
                        <i ng-if="status.SendPower=='N'" class="fa fa fa-save"></i>
                        <i ng-if="status.SendPower=='D'" class="fa fa-circle-o-notch fa-spin"></i>
                        <i ng-if="status.SendPower=='F'" class="fa fa-exclamation-triangle"></i>
                    </button>
                </div>
            </div>
        </li>



    </ul>

</div>