<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Test UI bootstrap</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
             <div ng-controller="AccordionDemoCtrl">
        <p>
            <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
            <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
        </p>

        <label class="checkbox">
            <input type="checkbox" ng-model="oneAtATime">
            Open only one at a time
        </label>
        <accordion close-others="oneAtATime">
            <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                This content is straight in the template.
            </accordion-group>
            <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                {{group.content}}
            </accordion-group>
            <accordion-group heading="Dynamic Body Content">
                <p>The body of the accordion group grows to fit the contents</p>
                <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                <div ng-repeat="item in items">{{item}}</div>
            </accordion-group>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
        </accordion>
    </div>
        </div>
        <div class="col-lg-4">
            <div ng-controller="AlertDemoCtrl">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
                <button class='btn btn-default' ng-click="addMsg()">Add message</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div ng-controller="ButtonsCtrl">
                <h4>Single toggle</h4>
                <pre>{{singleModel}}</pre>
                <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    Single Toggle
                </button>
                <h4>Checkbox</h4>
                <pre>{{checkModel}}</pre>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
                    <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
                    <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
                </div>
                <h4>Radio &amp; Uncheckable Radio</h4>
                <pre>{{radioModel || 'null'}}</pre>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
                </div>
                <div class="btn-group">
                    <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
                    <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
                    <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
        </div>
    </div>

</div>