<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Test Grid</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
    <div class="row" ng-controller="grid1Ctrl">
        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in $data">
                <td data-title="'Name'">
                    {{user.name}}
                </td>
                <td data-title="'Age'">
                    {{user.age}}
                </td>
            </tr>
        </table>

        <table ng-table="tableParams2" class="table">
            <tr ng-repeat="user in $data">
                <td data-title="'Name'">
                    {{user.name}}
                </td>
                <td data-title="'Age'">
                    {{user.age}}
                </td>
            </tr>
        </table>
    </div>
	<!-- /.row -->
</div>