<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-wrench"></i> General setting</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="row">
            <div class="form-group">
                <label>Server Endpoint head:</label>
                <input type="text" ng-model="ENDPOINTHEAD" class="form-control">
                <label>Server Input Endpoint tail:</label>
                <input type="text" ng-model="ENDPOINTTAIL_INPUT" class="form-control">
                <hr/>
                <button class="btn btn-sm btn-danger" ng-click="clearSetting()"><i class="fa fa-remove"></i> clear</button>
                <button class="btn btn-sm btn-primary setupwizard-btn-rigth" ng-click="SaveSetting()">Save <i class="fa fa-save"></i></button>
            </div>
         </div>
    </div>
    <!-- /.row -->
</div>